.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
    color:navy;
}

.clearfix::after{
    content: "";
    width: 33.33%;
    padding: 5px;
}

*{
    box-sizing: border-box;
}

.box{
    height: 500px;
}

.header{
    height: 400px;
    background-image: url("../image/original.jpg");
    border-radius: 10px;
    color: aliceblue;
    
}
.banner{
    color:#193446;
}

body{
    background-image: url("../image/pic02.jpg");
}