.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.clearfix::after{
    content: "";
    width: 33.33%;
    padding: 5px;
}

*{
    box-sizing: border-box;
}

.box{
    height: 500px;
}
