.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
    height: 60%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header{
    background-image: url("../image/pic02.jpg")
}