form{
    border: 3px solid #f1f1f1
}

/* width full inputs */
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* buttons */
button{
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{
    opacity: 0.5;
}

.cancelBtn{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer{
    text-align: center;
    position: relative;
    margin: 24px 0 12px 0
    height:30%;
    width: 30%;
    padding:30px;
}

img.avatar{
    width: 40%;
    border-radius: 50%;
    position: relative;
    align-self: center;
}

.container{
    padding: 16px
}
